
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  
}
body{
    background-color: #FFBAAB;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dadada;
    color: #1e1e1e;
    height: 75px;
}

.sisi{
    height: 90px;
    margin: 0px 90px;
}
.hola{
    display: flex;
    gap: 40px;
    margin: 0px 80px;
    cursor: pointer;
    font-family: sans-serif;
    list-style: none;
   
}

.link{
    text-decoration: none;
    color: #1e1e1e;
}

.hola a:hover{
    text-decoration: underline;
    color: #0A9037;
}

.hola{
display: flex;
justify-content: center;
    align-items: center;
    margin: 70px 40px;

    cursor: default;
}

.aaa1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}
.img-1{
    display: flex;
    justify-content: space-between;
}
.rrr{
    order: 1;
   margin: 50px 0px;
}
.parrafo-primario{
   display: flex;
   align-items: center;
   justify-content: center;
}
.ventajas{
    margin: 20px 0px 0px 0px;
}
.boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.nosotros{
   color: white;
   font-size: 45px;

}
p{
    color: #1e1e1e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 25px 0px;
}
.bbb{
    border-radius: 30px;
    background-color: aquamarine;
    color: #1e1e1e;
    height: 30px;
    width: 80px;
    padding: .5em .5em; 
    border: none;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
   
}
.ccc{
    border-radius:  30px;
    border: solid 1px aquamarine;
height: 30px;
width: 80px;
padding: .3em .3em;
font-size: 10px;
cursor: pointer;
font-weight: 600;
}
.boton{
    display: flex;
    gap: 10px;
    align-items: center;
}

.img{
    height: 20px;
    width: 20px;
}

.rrr{
width: 300px;
height: 250px;
padding: 0px 30px;
}
.ventajas-padre{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ventajas{
font-family: sans-serif;  
}
.ventajas h2{
    color:darkgoldenrod ;
    
}
.parrafo{
    text-align: center;
    max-width: 30rem;

}
.logos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    
}
.title{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
}
.parrafos{
    display: flex;
 justify-content: space-evenly;
}
.parrafos p{
    color: #1e1e1e;
    max-width: 15%;
    
}


/* Para celular */
@media (max-width: 450px) {
    body{
        max-width: 100%;
    }
    .header{
        display: flex;
        justify-content: space-evenly;
       width: 100%;
     margin: 0px 20px;
    }
  .hola{
  max-width: 50%;

  }
    .header:hover{
        text-decoration: underline;
        color: #0A9037;
    }
    .aaa1{
       display: flex;
       justify-content: space-between;
    }
    .nosotros{
       margin: 20px 3px;
      text-align: center;
     
    }
    .parrafo{
        text-align: center;
        max-width: 10rem;
    }
    .parrafos{
        max-width: 100%;
    }
}